.normal {}

.operation2 {
  .icon {
    display: inline-block;
    font-size: 18px;
    margin: 0 0.5em;
  }
}

.isClick{
  cursor: pointer;
  border: 1px solid red;
  position: relative;
}
.noClick{
  cursor: pointer;
  border:1px solid #999;
  position: relative;
}
.modelItem{
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  bottom: 0px;
  margin: auto;
}
